<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Login Page</h3>
    <form action="/login" method="post">
        <input type="email" name="username" placeholder="Enter your username" value="<%=locals.username%> ">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" value="Login">
    </form>
</body>
</html>